<?xml version="1.0"?>
<!--
/**
 * @author W3D Team
 * @copyright Copyright (c) 2015 W3D (http://w3development.net)
 * @package W3D_Exportorders
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <w3d_exportorder>
            <general>
                <format>xml</format>
                <cron_label>3</cron_label>
                <folder_path>tmp/orders.xml</folder_path>
            </general>
        </w3d_exportorder>
    </default>
</config>
